@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
:root {
  /* Color */
  /* Primary */
  --Desaturated-Red--: hsl(0, 36%, 70%);
  --Soft-Red--: hsl(0, 93%, 68%);

  /* Neutral */
  --Dark-Grayish-Red--: hsl(0, 6%, 24%);

  /* Gradients */

  --gradient-one--: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --gradient-two--: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  /* Typography */
  /* Body Copy */

  --Font-size--: 16px;

  /* Font */

  --Font-family--: "Josefin Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--Font-family--);
}

.container {
  background-image: var(--gradient-one--);
}
.nav {
  display: flex;
  align-items: center;
  padding: 25px;
}
.nav img {
  height: 20px;
}
.hero img {
  width: 100%;
}

.content {
  padding: 25px;
}
.title {
  font-size: 2.8rem;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  color: var(--Desaturated-Red--);
  font-weight: 300;
  letter-spacing: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 16px;
}
.title span {
  font-weight: 600;
  color: black;
}
.description {
  text-align: center;
  color: var(--Desaturated-Red--);
  font-size: 14px;
  word-spacing: 0.4rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 2rem;
}

form {
  position: relative;
  display: flex;
  margin-bottom: 5rem;
}
form input {
  background-color: transparent;
  padding: 18px;
  width: 100%;
  color: var(--Desaturated-Red--);
  border-radius: 30px;
  border: 1px solid var(--Desaturated-Red--);
}
form input::placeholder {
  color: var(--Desaturated-Red--);
}
form button {
  background-image: var(--gradient-two--);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 2rem;
  border: none;
  padding: 0 24px;
  border-radius: 32px;
}
