body, html {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.container {
    margin: 50px auto;
    width: 600px;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
}

header {
    background-color: purple;
    padding: 50px 0;
}

footer {
    background-color: grey;
    padding: 20px 0;
}

.sidebar {
    float: left;
    width: 40%;
    box-sizing: border-box;
}

.sidebar aside {
    background-color: lightblue;
    padding: 50px 0;
}

.sidebar nav {
    background-color: greenyellow;
    padding: 80px 0;
}

.content::after {
    content: "";
    display: block;
    clear: both;
}

main {
    background-color: maroon;
    padding: 141.5px 0;
    float: right;
    width: 60%;
}